

.main {
    display: flex;
    width: 500px;
    height: 200px;
    margin: 0 auto; 
    background-color: rgba(224, 223, 223, 1);
    justify-content: center;
    padding: 20px;
  }

  .main2 {
    display: flex;
    width: 500px;
    height: 500px;
    margin: 0 auto; 
    background-color: rgba(224, 223, 223, 1);
    justify-content: space-around;
    padding: 20px;
  }

.inputs {
    position: center;
  }
.input1 {
    width: 250px;
    height: 40px;
    padding: ;
    margin: 0 -40px;
    background-color: rgba(177, 176, 174, 1);
  }
.input2 {
    height: 30px;
    width: ;
    padding: ;
    margin: ;
    background-color: rgba(177, 176, 174, 1);
}
.input3 {
    height: 30px;
    width: 50px;
    padding: ;
    margin: 0 30px;
}
.input4 {
    height: 30px;
    width: 50px;
    padding: ;
    margin: 0 -25px;
}


.stats {
   position: relative;
   display: flex; 
}

.tulud {
  display: flex;
  width: 201px;
  height: 64px;
  background-color: rgba(255, 199, 147, 1);
  
}
.kulud {
  display: flex;
  width: 201px;
  height: 64px;
  background-color: rgba(255, 199, 147, 1);
}