

.main {
    display: flex;
    width: 500px;
    height: 200px;
    margin: 0 auto; 
    background-color: rgba(224, 223, 223, 1);
    justify-content: center;
    padding: 20px;
  }

  .main2 {
    display: flex;
    width: 500px;
    height: 500px;
    margin: 0 auto; 
    background-color: rgba(224, 223, 223, 1);
    justify-content: space-around;
    padding: 20px;
    
  }

.inputs {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.description_sum {
  display: flex;
  flex-flow: row;
}
.sum_total {
  width: 200px;
  height: 40px;
  justify-content: center;
  
  background-color: rgba(177, 176, 174, 1);
}
.description {
  height: 40px;
  background-color: rgba(177, 176, 174, 1);
  /*margin: 0 350px;*/
}

.sum {
  height: 40px;
  background-color: rgba(172, 212, 205, 1);
}

.btn_row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.add_btn {
  height: 30px;
  width: 50px;
  margin: 5px;
  background-color: rgba(255, 199, 147, 1);
}
.minus_btn {
  height: 30px;
  width: 50px;
  margin: 5px;
  background-color: rgba(172, 212, 205, 1);
}


.stats {
   position: relative;
   display: flex; 
}

.tulud {
  display: flex;
  width: 201px;
  background-color: rgba(255, 199, 147, 1);
  flex-direction: column;
  
}
.kulud {
  display: flex;
  width: 201px;
  background-color: rgba(172, 212, 205, 1);
  align-items: center;
  flex-direction: column;
}

h2 {
  text-align: center;

}