.main {
    display: flex;
    width: 500px;
    height: 700px;
    margin: 0 auto; 
    background-color: rgba(177, 176, 174, 1);
    justify-content: center;
    padding: 20px;
  }
input {
    position: center;
  }
.input1 {
    width: 250px;
    height: 40px;
    padding: ;
    margin: 0 -40px;
  }
.input2 {
    height: 30px;
    width: ;
    padding: ;
    margin: ;
}
.input3 {
    height: 30px;
    width: 50px;
    padding: ;
    margin: 0 30px;
}
.input4 {
    height: 30px;
    width: 50px;
    padding: ;
    margin: 0 -25px;
}
.input5 {
    width: 120px;
    height: 40px;
    padding: ;
    margin: 0 -93px;
}
.input6 {
    width: 120px;
    height: 40px;
    padding: ;
    margin: 0 205px;
}